@charset "utf-8";
/**
 * Autho: sukonzer | sukonzer@gmail.com
 * Description: List
 **/
.container-fluid{margin-top:15px;}
.container-fluid .table th,.container-fluid .table td{vertical-align:middle;}
.glyphicon{margin-right:5px;}